@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
}

:root {
  --color-brand-1: #fd377e;
  --color-brand-2: #e34981;
  --color-brand-3: #03b898;
  --color-grey-1: #212529;
  --color-grey-2: #868e96;
  --color-grey-3: #e9ecef;
  --color-grey-4: #f8f9fa;

  --gap-1: 64px;
  --gap-2: 56px;
  --gap-3: 48px;
  --gap-4: 40px;
  --gap-5: 32px;
  --gap-6: 24px;
  --gap-7: 16px;
  --gap-8: 12px;
  --gap-9: 08px;
  --gap-10: 4px;

  --radius-1: 8px;
  --radius-2: 6px;
  --radius-3: 4px;
  --radius-4: 2px;
}
body {
  font-family: "Nunito";
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  font-family: "Nunito";
}
input {
  font-family: "Nunito";
  padding-left: 10px;
}
label {
  width: max-content;
}
select {
  font-family: "Nunito";
}

.hidden {
  display: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
select {
  cursor: pointer;
  -webkit-appearance: none;
  background: url("./assets/arrow-down.png") no-repeat center right 10px;
  background-size: 20px;
}
